.banner-container {
    align-items: center;
    display: flex;
    gap: 112px;
    justify-content: center;
    padding-block: 125px 66px;
}

.banner-item1 {
    flex: 0 0 415px;
}

.banner-item1 h1 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    padding-bottom: 19px;
}

.banner-item1 p {
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15;
    padding-bottom: 38px;
}

.banner-item2 {
    flex: 0 0 500px;
}

.banner-item2 img {
    aspect-ratio: 503 / 513;
    height: auto;
}