.blog {
    padding: 91px 128px 53px 128px;
    background-color:  #E5E5E5;
    display: flex;
    flex-direction: column;
}

.blog h2 {
    padding-bottom: 73px;
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}


.blog-item-bg {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.blog-item h3 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    padding-top: 11px;
    color: #009688;
}

.blog-item p {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20.68px;
}

.blog a {
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.15;
    padding: 10px 41px;
    margin-top: 101px;
    align-self: center;
}

.blog-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item div {
    width: 319px;
    height: 193px;
}