.contato {
    padding-block: 90px;
}

.contato-container {
    align-items: center;
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-inline: 40px;
}

.contato-container h1 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    padding-bottom: 44px;
}

.contato-form {
    flex: 1;
}

.contato-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-form form input,
.contato-form form textarea {
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    line-height: 1.125;
    padding: 7px 22px;
}

.contato-form form textarea {
    height: 190px;
}

.contato-form form button {
    align-self: flex-start;
}

.contato-img {
    flex: 1;
}

.contato-img img {
    aspect-ratio: 1/1;
    height: auto;
}