#cursosCurso {
    padding-bottom: 134px;
    padding-left: 82px;
    padding-right: 82px;
    padding-top: 95px;

}

.cursosCurso-item {
    display: flex;
    gap: 53px;
    justify-content: center;
    padding-bottom: 68px;
}

.cursosCurso-item h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.cursosCurso-item p {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    padding-bottom: 53px;
    padding-right: 73px;
    padding-top: 37px;
}

.cursosCurso-item+.cursosCurso-item {
    border-top: 5px solid #C4C4C4;
    padding-top: 107px;
}

.cursosCurso-item-item1 {
    flex: 1;
    min-width: 300px;
}

.cursosCurso-item-item2 {
    flex: 2.1;
}