#cursosCurso {
    padding-top: 95px;
    padding-left: 82px;
    padding-right: 82px;
    padding-bottom: 134px;

}

.cursosCurso-item {
    display: flex;
    gap: 53px;
    justify-content: center;
    padding-bottom: 68px;
}

.cursosCurso-item h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

.cursosCurso-item p {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    padding-top: 37px;
    padding-bottom: 53px;
    padding-right: 73px;
}

.cursosCurso-item a {
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: #419488;
    border-radius: 62px;
    padding: 14px 48.5px;

}

.cursosCurso-item + .cursosCurso-item {
    border-top: 5px solid #C4C4C4;
    padding-top: 107px;
}

.cursosCurso-item-item1 {
    flex: 1;
    min-width: 300px;
}

.cursosCurso-item-item2 {
    flex: 2.1;
}