.cursos {
    background-color: #F7F7F7;
    display: flex;
    gap: 121px;
    justify-content: center;
    padding: 109px 128px 117px 128px;
}

.cursos h2 {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    color: #FF4081;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.cursos-item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cursos-item h3 {
    color: #FF4081;

    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
}

.cursos-item p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.15;
    padding-bottom: 26px;
    padding-top: 23px;
    text-align: center;
}