.depoimentos {
    padding-block: 120px;
}

.depoimentos-container {
    margin-inline: 40px;
}

.depoimentos-container h2 {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 78px;
    text-transform: uppercase;
}

.depoimentos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 97px;
}

.depoimentos-item {
    align-items: center;
    display: flex;
    flex: 0 0 43%;
    flex-wrap: nowrap;
    gap: 23px;
}

.depoimentos-item img {
    aspect-ratio: 1 / 1;
    height: auto;
    min-width: 104px;
}

.depoimentos-item blockquote {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;

}

.depoimentos-item span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10.3px;
}