footer {
    align-items: center;
    background-color: #419488;
    display: flex;
    justify-content: space-between;
    padding: 53px 128px;
}

#footer-item2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#footer-item2 a {
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    transition: all 0.3s;
}

#footer-item2 a::after {
    background-color: rgb(221, 221, 221);
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    transition: all 0.3s;
    width: 0%;
}

#footer-item2 .is-current a::after {
    background-color: #FDFDFD;
    width: 100%;
}

#footer-item2 a:hover {
    color: rgb(221, 221, 221);
}

#footer-item2 a:hover::after {
    background-color: rgb(221, 221, 221);
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

#footer-item3 {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 290px;
}