.hero {
    padding-block: 3rem 5.625rem;
}

.hero-container {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 9rem;
    justify-content: center;
}

.hero-infos {
    flex: 0 0 420px;
}

.hero-title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 2.5rem;
}

.hero-title--default {
    color: #FF4081;
    font-size: 3.5rem;
    line-height: 4rem;
}

.hero-title--uppercase {
    color: #009688;
    font-size: 2.375rem;
    line-height: 3.375rem;
    text-transform: uppercase;
}

.hero-description {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
}

.hero-image {
    align-self: center;
    flex: 0 0 405px;
}

.hero-image img {
    height: auto;
}