@media (max-width:1100px) {
    * {
        flex-wrap: wrap;
    }
    .cursosCurso-item p {
        padding-right: 0px;
    }
}

@media (max-width:685px) {
    .topo {
        justify-content: center;
    }

    footer {
        justify-content: center;
        gap: 10px;
    }

    footer {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    #contato {
        gap: 30px;
    }
}

@media (max-width:500px) {
    .blog {
        text-align: center;
    }

    .blog-item div {
        width: auto;
    }

    .banner-item1 h1 {
        min-width: auto;
    }

    .topo {
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .depoimentos {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .depoimentos-bg h2 {
        padding-top: 38px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .cursos {
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog {
        padding-top: 38px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner {
        padding-top: 38px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .depoimentos-items {
        flex-direction: column;
        align-items: center;
    }

    #cursosIntro {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #cursosIntro h1 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    #cursosIntro span {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    footer {
        flex-direction: column;
    }
    .btn--outline-light {
        padding: 10px 15px;
    }

    #footer-item3 {
        width: 250px;
    }

    #contato-bg {
        padding: 52px 10px 48px 10px;
    }
}