@media (max-width:1100px) {
    * {
        flex-wrap: wrap;
    }

    .container {
        width: 90%;
    }

    .blog h2,
    .blog-itens {
        margin-inline: 0;
    }

    .footer-container {
        margin-inline: 0;
    }

    .cursosCurso-item p {
        padding-right: 0px;
    }

    .post-list-grid {
        column-gap: 1.25rem;
        row-gap: 6.25rem;
    }

    .post-item {
        flex: 0 0 calc(50% - 1.25rem);
    }

    .hero-container {
        column-gap: 1.25rem;
    }

    .hero-infos {
        flex: 0 0 calc(50% - 1.25rem);
    }

    .hero-image {
        flex: 0 0 calc(50% - 1.25rem);
    }

    .class-item {
        gap: 1.25rem;
    }

    .class-infos-container {
        flex: 0 0 calc(50% - 1.25rem);
    }

    .class-video-container {
        flex: 0 0 calc(50% - 1.25rem);
    }

    #post-item2 img {
        height: 477px;
    }

}

@media (max-width: 900px) {

    .footer-logo {
        width: 250px;
    }

    .blog-itens {
        flex-direction: column;
        gap: 2rem;
    }

    .hero-container {
        column-gap: 1.25rem;
    }

    .hero-infos {
        flex: 0 0 calc(50% - 1.25rem);
    }

    .hero-image {
        flex: 0 0 calc(50% - 1.25rem);
    }

    #post img {
        height: 357px;
    }

    #post {
        gap: 37px;
        padding: 111px 51px 111px 51px;
    }

}

@media (max-width: 768px) {

    .hero-container {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .hero-infos {
        flex: 0 0 100%;
    }

    .hero-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .hero-image {
        flex: 0 0 100%;
    }

    .hero-image img {
        margin-inline: auto;
    }

    .class-item {
        flex-wrap: wrap;
        row-gap: 2rem;
    }

    .class-infos-container {
        flex: 0 0 100%;
    }

    .class-video-container {
        flex: 0 0 100%;
    }

    #contato {
        gap: 30px;
    }
}

@media (max-width: 768px) {

    .footer-container {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        text-align: center;
    }

    .post-list-grid {
        row-gap: 3rem;
    }

    .post-item {
        flex: 0 0 100%;
    }

    #post img {
        height: 296px;
    }

    .blog h2 {
        padding-bottom: 50px;
    }

    .blog-btn {
        margin-top: 50px;
    }

}

@media (max-width:685px) {

    .topo-container {
        flex-direction: column;
        row-gap: 1.25rem;
    }

    .modal {
        height: 100vh;
        max-height: 100vh;
        padding: 3rem 2rem;
        width: 100%;
    }

    .modal-body {
        max-height: calc(100vh - 3rem - 3rem);
    }

    .modal-body img {
        height: auto;
        width: 50%;
    }

    #post img {
        height: 262px;
    }

    #post {
        padding: 56px 51px 56px 51px;
    }
}

@media (max-height:600px) {
    .modal-body img {
        align-self: flex-start;
    }
}

@media (max-width:500px) {

    .banner-item1 h1 {
        min-width: auto;
    }

    .depoimentos {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .depoimentos-bg h2 {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 38px;
        text-align: center;
    }

    .cursos {
        padding-left: 10px;
        padding-right: 10px;
    }

    .blog {
        padding-top: 38px;
    }

    .banner {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 38px;
        text-align: center;
    }

    .depoimentos-items {
        align-items: center;
        flex-direction: column;
    }

    #cursosIntro {
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    #cursosIntro h1 {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    #cursosIntro span {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .btn--outline-light {
        padding: 10px 15px;
    }

    #footer-item3 {
        width: 250px;
    }

    #contato-bg {
        padding: 52px 10px 48px 10px;
    }

    .cursos-item h3 {
        width: auto;
    }

    #post img {
        height: 211px;
    }

    #post {
        padding: 56px 15px 56px 15px;
    }
}

@media (max-width:360px) {
    .topo-container nav {
        width: 100%;
    }

    .menu {
        gap: 0;
        justify-content: space-between;
    }
}

@media (max-width:350px) {
    #post-item1 h1 {
        font-size: 30px;
        line-height: 1.15;
    }
}

@media (max-height:600px) {
    .modal-body img {
        align-self: flex-start;
    }
}