#post {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 74px;
    padding: 111px 204px 111px 204px;
}

#post-item1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#post-item1 h1 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 57px;
    text-align: center;
}

#post-item1 time {
    color: #9D9D9D;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}

#post img {
    object-fit: cover;
    width: 100%;
}

#post-item2 {
    width: 100%;
}

#post p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
}

#post h3 {
    color: #419488;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.87px;
    padding-bottom: 32px;
}

#post p+p {
    padding-top: 30px;
}